//colors
$background: #0D0D0D;
$text: #F2F2F2;
$hover: #C4F2EE;
$bird: #F291A3;
$obstacle: #728C8A;

$bird-size: 60px;

//default sets & designs
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  color: $text;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: $text;
}
a:hover {
  color: $hover;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}

//body
body {
  background-color: #C4F2EE;
}

  //header
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $background;
    line-height: 15px;
  }
  h1 {
    color: $hover;
    font-size: 1.5rem;
  }

  //play section
  .game {
    position: relative;
    height: calc(100vh - 80px); //Fallback for browsers that do not support Custom Properties
    height: calc(var(--vh, 1vh) * 100 - 80px);
  }

  .play {
    position: absolute;
    z-index: 10;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $background;
  }

  .bird {
    --bird-top: 0;
    position: absolute;
    top: calc(var(--bird-top) * 1px);
    left: $bird-size;
    width: $bird-size;
    height: $bird-size;
  }

  //obstacle
  .obstacles {
    --obstacle-distance: 100;
    --obstacle-position: 300;
    --obstacle-gap: 120;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--obstacle-distance) * 1px);
    width: 100px;
  }
  .obstacles > * {
    position: absolute;
    width: 100%;
    background-color: $obstacle;
  }
  .obstacles > .top {
    top: 0;
    bottom: calc(var(--obstacle-position) * 1px);
  }
  .obstacles > .bottom {
    top: calc(var(--vh, 1vh) * 100 - 80px - (var(--obstacle-position) * 1px) + (var(--obstacle-gap) * 1px));
    bottom: 0;
  }

  //footer
  footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: $background;
  }

  footer  a {
    position: relative;
    z-index: 10;
  }